body {

    width: 960px;
    margin: 0 auto;
    /* background: white url(https://image.freepik.com/free-vector/colorful-watercolor-triangles-pattern_23-2147662863.jpg) repeat fixed;
 */


  background: white  url(https://metrouk2.files.wordpress.com/2017/07/187144066.jpg?w=748&h=498&crop=1) no-repeat top center;
background-size: 50vw;
  
}